[submodule "vendor/lib-qt-qml-tricks"]
	path = vendor/lib-qt-qml-tricks
	url = https://github.com/Cavewhere/lib-qt-qml-tricks/
[submodule "vendor/SortFilterProxyModel"]
	path = vendor/SortFilterProxyModel
	url = https://github.com/oKcerG/SortFilterProxyModel
[submodule "vendor/bitcoin-core-base58"]
	path = vendor/bitcoin-core-base58
	url = https://github.com/benma/bitcoin-core-base58.git
[submodule "vendor/status-go"]
	path = vendor/status-go
	url = https://github.com/status-im/status-go
[submodule "vendor/uint256_t"]
	path = vendor/uint256_t
	url = https://github.com/calccrypto/uint256_t
[submodule "vendor/edn-cpp"]
	path = vendor/edn-cpp
	url = https://github.com/shaunxcode/edn-cpp
[submodule "vendor/Bitcoin-Cryptography-Library"]
	path = vendor/Bitcoin-Cryptography-Library
	url = https://github.com/nayuki/Bitcoin-Cryptography-Library
[submodule "vendor/js-cid"]
	path = vendor/js-cid
	url = https://github.com/multiformats/js-cid/
